<!-- Initial Website Descriptio Section -->
<section id="description">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">Welcome to</h3>
                <h2 class="section"> Computational Intelligence in BIomedical Monitoring (CIBIM) lab</h2>                
           </div>
        </div>

<div>
<center><img class="img-responsive" src="img/about/team.jpg" alt="Image Not Found"  style="width:70%"></center>
</div><br>
	
        <p align="justify" style="text-indent: 2em;">Led by Prof. Maarten De Vos, we are based at the Institute of Biomedical Engineering and are part of the Department of Engineering Science at the University of Oxford. The emphasis of the group is on engineering intelligent solutions for perinatal care; sleep monitoring and mobile, real-life brain monitoring.</p>

        <p align="justify" style="text-indent: 2em;">Our group applies advanced signal processing and machine learning techniques to enhance our understanding of the human brain, to develop rehabilitation strategies and to provide (semi-) automated decision support systems for patient monitoring in different fields. As medical data is often highly dimensional, multimodal and temporally dense, particular focus is on mining these available biotensors with a variety of data-driven tensor methods and tensor fusion.</p>

        <p align="justify" style="text-indent: 2em;">We always work in a truly interdisciplinary environment, having collaborations with world-leading clinicians from the Oxford University Hospitals NHS Trust, fMRIB, the Oxford Centre for Affordable Healthcare at Kellogg College, and the Sleep, Circadian and Neuroscience Institute (SCNi) to address unmet clinical needs. As the goal of each project is to directly impact clinical care, particular focus is on the implementation of new biomedical technologies through large clinical trials and technology transfer into available products.</p>

    </div>

</section>
