<footer class="bg-darkest-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Address</h4>
        {{ site.address}}
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          {% for network in site.social %}
          <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <div style="-webkit-filter: grayscale(50%);
        filter: grayscale(50%);">
        <div class="iframe-container">
          <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBn3v-bNMCVxS7aMAooSJWpfVrhshF_m7U
          &q=IBME+Old+Road+Campus,Oxford+UK" width="600" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div> </div>
      </div>
    </div>
  </div>
</footer>
