<!-- Join US -->
<section id="joinus">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Join Us</h2>           
              There are currently no available positions. For further inquiries, email Prof. Maarten De Vos.
           </div>
           <div class="col-lg-12 text-center">
           <h3 class="section-subheading text-muted">Departmental vacancies are listed under <a href="http://www.eng.ox.ac.uk/jobs/current-vacancies" target="new">http://www.eng.ox.ac.uk/jobs/current-vacancies</a></h3>
           </div>
    </div>
</section>
