<!-- About Section -->
    <section id="publications" class="bg-light-gray">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Publications</h2>
                      <h3 class="section-subheading text-muted">Here are some of our lattest publications. For a complete list, please checkout our &nbsp; <a href="https://scholar.google.co.uk/citations?user=xTjDXdQAAAAJ&hl=en&oi=ao" target="_blank"><i class="ai ai-google-scholar-square ai-2x"></i> Google Scholar </a> </h3>
                 </div>
              </div>

              Include some BibBase link...
          </div>
    </section>
